#player {
    position : relative;
    top : 230px;
    left : 100px;
    background-color : red;
    width : 30px;
    height : 30px;
}
#topBorder {
    position : absolute;
    top: 0px;
    left : 0px;
    background-color : black;
    height : 5px;
    width : 600px;
}
#bottomBorder {
    position : absolute;
    top: 340px;
    left : 0px;
    background-color : black;
    height : 5px;
    width : 600px;
}
#startbutton {
    position : relative;
    top : 370px;
    left : 0px;
}
#scores {
    position : relative;
    top : 450px;
    left : 0px;
    font-family : verdana;
    font-size : 20;
}

#failmessage {
    position : relative;
    top : 500px;
    left : 0px;
    font-family : verdana;
    font-size : 30;
}
