#player {
    position : relative;
    top : 150px;
    left : 100px;
    background-color : red;
    width : 30px;
    height : 30px;
}
#topBorder {
    position : absolute;
    top: 0px;
    left : 0px;
    background-color : black;
    height : 5px;
    width : 600px;
}
#bottomBorder {
    position : absolute;
    top: 340px;
    left : 0px;
    background-color : black;
    height : 5px;
    width : 600px;
}
#startbutton {
    position : relative;
    top : 370px;
    left : 0px;
}
